<!DOCTYPE html>
<html lang="hu" data-bs-theme="dark">
<head>
    <%- include('parts/meta') %>
</head>
<body>
    <%- include('parts/nav', { user: typeof user !== 'undefined' ? user : undefined }) %>
    
    <% if(typeof errors !== 'undefined' && errors.length > 0 ) { %>
        <div class="container custom-layout-width mt-5 alert alert-danger">
            <% errors.forEach( err => { %>
                <li><%= err.msg %></li>
            <% } ) %>
        </div>
    <%} else if(typeof success !== 'undefined' && success.length > 0) { %>
        <div class="container custom-layout-width mt-5 alert alert-success">
                <li><%= success %></li> 
        </div>
    <% } %>    

    <div class="container custom-layout-width mt-5">
        <h3 class="mb-4"><%= title%></h3>
        <%- include(`pages/${page}`) %>
    </div>

    <%- include('parts/scripts') %>
</body>
</html>